<div class="dropdown-menu dropdown-menu-end rounded-3 border-0 bg-light shadow"
     aria-labelledby="notification-dropdown"
     style="width: min(500px, 100vh); height: min(700px, 100vh);"
     hx-indicator="#notification-spinner-dropdown">
    <ul class="overflow-y-auto list-unstyled list-group h-100 px-2">
        <li class="my-2"
            hx-trigger="intersect once"
            hx-get="{% url 'get_notifications_page' %}?dropdown=true"
            hx-swap="afterend">
            <h3 class="dropdown-header fs-3 text-dark py-0">Notifications</h3>
        </li>
    </ul>
    <div class="text-center my-2" id="notification-spinner-dropdown">
        <div class="spinner-border spinner-border-sm text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>