{% extends 'account/base_account.html' %}
{% load crispy_forms_filters %}

{% block inner_content %}
    <h1 class="text-center">Confirm Email Address</h1>
    {% if confirmation %}
        {% if can_confirm %}
            <p class="my-4">Please confirm that {{ confirmation.email_address.email }}
                is an email address for user <a href="{% url 'account_profile' confirmation.email_address.user %}">{{ confirmation.email_address.user }}</a>.</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary rounded-pill p-3 mt-2 w-100">Confirm</button>
            </form>
        {% else %}
            <p class="my-4">Unable to confirm {{ confirmation.email_address.email }} because it is already confirmed by a
                different account.</p>
        {% endif %}
    {% else %}
        <p class="my-4">This email confirmation link expired or is invalid. Please <a href="{% url 'account_email' %}">issue a
            new email confirmation request</a>.</p>
    {% endif %}
{% endblock %}