{% extends 'account/base_account.html' %}
{% load crispy_forms_filters %}

{% block inner_content %}
    <h1 class="text-center">Change your Email</h1>
    <form method="post">
        {% csrf_token %}
        <div class="my-4">
            <p class="mb-0"><strong>Current email:</strong> {{ current_emailaddress.email }}</p>
            {% if new_emailaddress %}
                <p><strong>New email:</strong> {{ new_emailaddress.email }}</p>
                <p>A confirmation email has been sent to {{ new_emailaddress.email }}. You must confirm this address to
                    complete this change.</p>
            {% else %}
                <p>Enter your new email address below and we'll send you a confirmation email.</p>
            {% endif %}
        </div>
        {% if new_emailaddress %}
            <button form="pending-email" name="action_send" type="submit"
                    class="btn btn-primary rounded-pill p-3 mt-2 w-100">Resend
                Confirmation Email
            </button>
            <button form="pending-email" name="action_remove" type="submit"
                    class="btn btn-outline-danger rounded-pill p-3 mt-2 w-100">Cancel Email Change
            </button>
        {% else %}
            {{ form|crispy }}
            <button type="submit" name="action_add" class="btn btn-primary">Change Email</button>
        {% endif %}
        <p class="mt-5 mb-0 text-muted text-center small">Go back to <a href="{% url 'account_settings' %}">Account Settings</a></p>
    </form>
    {% if new_emailaddress %}
        <form style="display: none"
              id="pending-email"
              method="post">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
        </form>
    {% endif %}
{% endblock %}