{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>Confirm Email Address</h1>
    {% if confirmation %}
        {% if can_confirm %}
            <p>Please confirm that <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is an email address for user {{ confirmation.email_address.user }}.</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        {% else %}
            <p>Unable to confirm {{ confirmation.email_address.email }} because it is already confirmed by a different account.</p>
        {% endif %}
    {% else %}
        <p>This email confirmation link expired or is invalid. Please <a href="{% url 'account_email' %}">issue a new email confirmation request</a>.</p>
    {% endif %}
{% endblock %}