{% extends 'account/base_account.html' %}
{% load crispy_forms_filters %}

{% block inner_content %}
    {% if token_fail %}
        <h1 class="text-center">Bad Token</h1>
        <p class="small text-center text-muted mb-1">The password reset link was invalid, possibly because it has
            already been used. Please request a <a
                    href="{% url 'account_reset_password' %}">new password reset</a>.</p>
    {% else %}
        <h1 class=text-center">Reset Password</h1>
        <p class="small text-center text-muted mb-5">Please enter your new password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary rounded-pill p-3 w-100 mt-2">Reset Password</button>
        </form>
    {% endif %}
{% endblock %}
