<div id="pairing-banner" class="d-flex align-items-center justify-content-between shadow-sm px-3 w-100 position-fixed text-light z-3{% if request.user.current_pairing_request.status == "match_found" %} match-found{% endif %}">
    <div class="hstack gap-3 searching-content">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="m-0 d-none d-sm-inline">Waiting for a debater on <strong>{% firstof debate.title request.user.current_pairing_request.debate.title %}</strong></span>
        <span class="m-0 d-inline d-sm-none">Searching...</span>
        <span class="elapsed-time" data-seconds-elapsed="{{ request.user.current_pairing_request.seconds_elapsed_since_creation|default:0 }}"></span>
    </div>
    <div class="hstack gap-3 match-found-content">
        <i class="bi bi-check-circle-fill fs-3"></i>
        <span class="m-0 d-none d-sm-inline">Match found! You will be redirected soon.</span>
        <span class="m-0 d-inline d-sm-none">Match found!</span>
    </div>
    <div class="hstack gap-3 server-error-content">
        <i class="bi bi-exclamation-circle-fill fs-3"></i>
        <span class="m-0 d-none d-sm-inline">An error occurred. Please try again later.</span>
        <span class="m-0 d-inline d-sm-none">Error occurred.</span>
    </div>
    <div class="hstack gap-3 connection-error-content">
        <i class="bi bi-exclamation-triangle-fill fs-3"></i>
        <span class="m-0 d-none d-sm-inline">Connection error. The server does not respond.</span>
        <span class="m-0 d-inline d-sm-none">Connection error.</span>
    </div>
    <button id="cancel-pairing-button" class="btn btn-link p-0 ms-3 text-light" aria-label="Cancel" onclick="cancelPairing(this)">
        <i class="bi bi-x fs-3"></i>
    </button>
</div>
