{% load crispy_forms_filters %}

<div class="discussion-layout-section flex-grow-1 h-100 d-flex flex-column p-0 bg-light" id="current-chat">
    <div class="d-flex flex-grow-1 flex-column-reverse overflow-y-scroll-custom"
         hx-indicator="#message-spinner">
        <div id="message-list-container"
                {% if discussion_id is not None %}
             hx-trigger="load"
             hx-get="{% url 'get_message_page' discussion_id %}">
                {% else %}
                    >
                    <div class="align-items-center justify-content-center d-flex">
                        <p class="text-secondary m-4">
                            Once you have a discussion, you will be able to see it here. To start debating with
                            someone,
                            choose a debate from the <a href="{% url 'debate_explore' %}">explore page</a>, take a
                            stance,
                            and request a discussion with another user of the stance of your choice.
                        </p>
                    </div>
                {% endif %}
        </div>
        {% include 'common/spinner.html' with id='message-spinner' %}
    </div>
    <div class="px-3 py-2 border-top" id="message-box">
        <form id="message-form">
            <div class="hstack gap-2 align-items-end">
                <div class="flex-grow-1">
                    {# I decided to not display it from form because it would actually be more complex #}
                    {# Also, we do not refresh page on message send so the error message wouldnt make it back #}
                    {# And there are no potential error message that we would want to send back anyway #}
                    <label for="message-text" class="visually-hidden">Message To Send</label>
                    <textarea class="form-control mt-0"
                              style="resize: none;"
                              id="message-text"
                              maxlength="5000"
                              rows="1"
                              placeholder="Type a message..."></textarea>
                </div>
                <div class="flex-shrink-1">
                    <button type="submit" class="btn btn-primary"
                            id="send-message" {{ discussion_id|yesno:",,disabled" }}>Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>