{% if page.number == 1 %}
    <div class="hstack justify-content-between align-items-stretch p-2 shadow-sm z-1 gap-2">
        <a href="javascript:void(0)" role="button" class="fs-4 text-dark d-grid h-100 d-grid d-md-none lh-1"
           data-bs-toggle="offcanvas"
           style="aspect-ratio: 1/1; place-items: center;"
           data-bs-target="#chat-list-canvas" aria-controls="chat-list-canvas">
            <i class="bi bi-arrow-left"></i>
        </a>
        <div class="vstack gap-1">
            <h1 class="fs-5 mb-0 lh-1 fw-bold">
                {{ discussion.debate.title }}{{ is_archived_for_current_user|yesno:' (Archived),' }}</h1>
            <span class="text-secondary small lh-1">with <span
                    id="discussion-partner-username">{% if discussion.participant1 == request.user %}
                {{ discussion.participant2.username }}{% else %}
                {{ discussion.participant1.username }}{% endif %}</span></span>
        </div>
        <div class="dropdown">
            <button type="button" id="discussion-settings"
                    class="fs-4 text-dark d-grid h-100 lh-1 bg-transparent border-0"
                    style="aspect-ratio: 1/1; place-items: center;"
                    data-bs-toggle="dropdown">
                <i class="bi bi-gear"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="discussion-settings">
                <li>
                    <button class="dropdown-item text-danger" type="button" data-bs-toggle="modal"
                            data-bs-target="#archive-discussion-modal">{{ is_archived_for_current_user|yesno:'Unarchive,Archive' }}
                        Discussion
                    </button>
                </li>
            </ul>
        </div>
    </div>

    {# Archive modal #}
    <div class="modal" id="archive-discussion-modal" tabindex="-1"
         aria-labelledby="archive-discussion-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="archive-discussion-modal-label">{{ is_archived_for_current_user|yesno:'Unarchive,Archive' }}
                        Discussion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                    {% if is_archived_for_current_user %}
                        Are you sure you want to unarchive this discussion? You will start receiving
                        notifications again, and it will be visible in the active discussions list.
                    {% else %}
                        Are you sure you want to archive this discussion? You will no longer receive
                        notifications for this discussion, and it will be visible in the archived
                        discussions
                        list. You can always unarchive it later.
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                    </button>
                    <form action="{% url 'set_archive_status' discussion.id %}"
                          method="post">
                        {% csrf_token %}
                        <input type="hidden" name="status" value="{{ is_archived_for_current_user|yesno:'false,true' }}">
                        <button type="submit"
                                class="btn btn-danger">{{ is_archived_for_current_user|yesno:'Unarchive,Archive' }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-grow-1 flex-column-reverse overflow-y-scroll-custom"
         hx-indicator="#message-spinner">
    <div id="message-list-container">
    <ul class="list-unstyled mb-2" id="message-list">
{% endif %}

{% if page and not page.has_next %}
    <li class="text-center text-muted my-2">Start of discussion</li>
{% endif %}

{% for message in page reversed %}
    {# if the message is the first of its time group, add a time notice #}
    {% if message.first_of_group %}
        {% include 'discussion/datetime_separator.html' with formatted_datetime=message.formatted_datetime %}
    {% endif %}

    <li
            {% if forloop.first and page.has_next %}
                hx-trigger="intersect once"
                hx-get="{% url 'get_current_chat_page' discussion.id %}?page={{ page.next_page_number }}"
                hx-target="this"
                hx-swap="beforebegin"
            {% endif %}>
        {% include 'discussion/message.html' with message=message is_current_user=message.is_current_user %}
    </li>

    {# if the message is the last read by the other user, add a read notice #}
    {% if read_checkpoint.last_message_read_id == message.id %}
        {% include 'discussion/read_notice.html' %}
    {% endif %}
{% empty %}
    {# still include the read notice but hide it, this will allow it to move around once messages are added #}
    {% include 'discussion/read_notice.html' with hidden=True %}
    <li class="text-center text-muted my-2">No messages yet</li>
{% endfor %}

{% if page.number == 1 %}
    </ul>
    </div>
    {% include 'common/spinner.html' with id='message-spinner' %}
    </div>
    <div class="px-3 py-2 border-top" id="message-box">
        <form id="message-form">
            <input type="hidden" name="discussion_id" value="{{ discussion.id }}">
            <div class="hstack gap-2 align-items-end">
                <div class="flex-grow-1">
                    {# I decided to not display it from form because it would actually be more complex #}
                    {# Also, we do not refresh page on message send so the error message wouldnt make it back #}
                    {# And there are no potential error message that we would want to send back anyway #}
                    <label for="message-text" class="visually-hidden">Message To Send</label>
                    <textarea class="form-control mt-0"
                              style="resize: none;"
                              id="message-text"
                              maxlength="5000"
                              rows="1"
                              placeholder="Type a message..."></textarea>
                </div>
                <div class="flex-shrink-1">
                    <button type="submit" class="btn btn-primary"
                            id="send-message">Send
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endif %}