{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block head %}
    <style>
        #main-content {
            overflow-y: auto;
        }

        .overflow-y-scroll-custom {
            overflow-y: auto;
            scrollbar-color: rgba(var(--bs-secondary-rgb)) transparent;
        }

        #chat-list-canvas {
            width: 100%
        }

        @media (min-width: 576px) {
            #chat-list-canvas {
                width: 325px;
            }
        }
        
        @media (min-width: 768px) {
            #chat-list-canvas {
                width: min(325px, 37.5%);
            }
            
            #discussion-layout {
                padding: 0.5rem; /* p-2 */
                gap: 0.5rem; /* gap-2 */
            }
            
            #discussion-layout .discussion-layout-section {
                border-radius: 0.5rem; /* rounded-4 */
                box-shadow:var(--bs-box-shadow); /* shadow */
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100 bg-primary-subtle">
        <div class="p-2 position-absolute start-0 end-0" style="margin: 0 20%">
            <button class="btn btn-primary d-md-none w-100 fs-5" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#chat-list-canvas" aria-controls="chat-list-canvas">
                Open Discussion List
            </button>
        </div>
        <div class="row flex-nowrap h-100" id="discussion-layout">
            {% include 'discussion/discussion_list_panel.html' %}
            {% include 'discussion/current_chat_panel.html' %} {# needs a message_form #}
        </div>
    </div>

    <script>
        {# TODO: make sure messages dont get lost when switching while a new websocket message is being received #}
        {# TODO: make sure the websocket connection stays open for long periods of time (?) #}
        /* Switching between chats */
        const chatList = $('#chat-list');
        const allChats = $('#chat-list a');
        
        /* WebSocket chat */
        let currentDiscussionId = {{ discussion_id|default_if_none:-1 }};
        websocketManager.add_handler('message', 'new_message', handle_new_message);
        websocketManager.add_handler('discussion', 'new_discussion', handle_new_discussion);

        function handle_new_message(data) {
            updateMostRecent(data['discussion_id'], data['message']);

            if (data['discussion_id'] !== currentDiscussionId) {
                return;
            }

            {# TODO: should we set the datetime using the server time which would be sent in the message? #}
            // Add message to chat history
            let element = $(`<li>${data['html']}</li>`);
            $('#message-list').append(element);
        }

        function handle_new_discussion(data) {
            let element = $(`<li>${data['html']}</li>`);
            
            // If the list is empty, change the notice
            if (allChats.length === 1) {
                $('#discussions-notice').text('No more discussions.');
            }

            // Prepend the new chat to the chat list
            element.hide().prependTo(chatList).slideDown();
        }

        const form = $('#message-form');
        const messageInput = $('#message-text-input');
        const sendButton = $('#send-message');
        form.submit(function (event) {
            event.preventDefault();
            let message = messageInput[0].value.trim();

            if (sendButton.prop('disabled') || message === '') {
                return;
            }

            websocketManager.send_chat_message(currentDiscussionId, message);

            messageInput[0].value = '';

            {# Note: we do not add the message to the chat history here, #}
            {# because we are waiting for the websocket to send it back #}
            {# This serves as a confirmation that the message was sent #}
        });
        
        function updateMostRecent(discussionId, message) {
            let relatedDiscussion = $('#discussion-' + discussionId);
            
            // If the discussion is not in the chat list, fetch it
            // Note: no need to then update the latest message as it will come with the discussion
            {# TODO: needs testing #}
            if (!relatedDiscussion.length) {
                $.get('{% url "get_single_discussion" %}', {discussion_id: discussionId}, function (data) {
                    handle_new_discussion({html: data});
                });
                return;
            }

            // else, update the latest message of the existing discussion and move it to the top

            // Update the latest message in the chat list
            // let latestMessageSpan = $(`#latest-message-${discussionId}`); // commented out as this lags the IDE for some reason
            let latestMessageSpan = $('#latest-message-' + discussionId);
            latestMessageSpan.text(message);

            // Update the time of the latest message
            let latestMessageTime = $('#latest-message-time-' + discussionId);
            latestMessageTime.timeago('update', new Date());

            // Put the discussion at the top of the list
            let discussion = relatedDiscussion[0];
            chatList.prepend(discussion);
        }

        // Make the Enter key submit the form
        // Make alt, ctrl, shift + Enter add a new line
        messageInput.keypress(function (event) {
            if (event.which === 13 && !event.altKey && !event.ctrlKey && !event.shiftKey) {
                event.preventDefault();
                form.submit();
            }
        });
    </script>
{% endblock %}