{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block head %}
    <style>
        #main-content {
            overflow-y: auto;
        }

        .overflow-y-scroll-custom {
            overflow-y: auto;
            scrollbar-color: rgba(var(--bs-secondary-rgb)) transparent;
        }

        #chat-list-canvas {
            width: 100%
        }

        @media (min-width: 576px) {
            #chat-list-canvas {
                width: 325px;
            }
        }

        @media (min-width: 768px) {
            #chat-list-canvas {
                width: min(325px, 37.5vw);
            }

            #discussion-layout {
                padding: 0.5rem; /* p-2 */
                gap: 0.5rem; /* gap-2 */
            }

            #discussion-layout .discussion-layout-section {
                border-radius: 0.5rem; /* rounded-4 */
                box-shadow: var(--bs-box-shadow); /* shadow */
            }
        }

        @supports (field-sizing: content) {
            #current-chat, #message-form .flex-grow-1:has(> textarea) {
                min-width: 0;
            }

            #message-form textarea {
                field-sizing: content;
                max-height: min(400px, 30vh);
            }
        }

        @container (min-width: 576px) {
            .container-relative {
                max-width: 540px !important;
            }
        }

        @container (min-width: 768px) {
            .container-relative {
                max-width: 720px !important;
            }
        }

        @container (min-width: 992px) {
            .container-relative {
                max-width: 960px !important;
            }
        }

        @container (min-width: 1200px) {
            .container-relative {
                max-width: 1140px !important;
            }
        }

        @container (min-width: 1400px) {
            .container-relative {
                max-width: 1320px !important;
            }
        }

        .message-text {
            max-width: min(75%, 650px);
            border-radius: 24px;
            padding: 8px 12px;
        }

        .message-right > .message-text {
            background-color: dodgerblue;
            color: white;
        }

        .message-left > .message-text {
            background-color: whitesmoke;
            color: black;
        }

        .message-text {
            margin-bottom: 0.5rem; /* m-2 */
        }

        .message-left {
            justify-content: start;
        }

        .message-right {
            justify-content: end;
        }

        /* if the message is on the right and the next message is also on the right */
        #message-list li:has( .message-right):has(+ li .message-right) .message-text {
            border-bottom-right-radius: 4px;
            margin-bottom: 1px;
        }

        /* if the message is on the left and the next message is also on the left */
        #message-list li:has( .message-left):has(+ li .message-left) .message-text {
            border-bottom-left-radius: 4px;
            margin-bottom: 1px;
        }

        /* if the message is on the right and the previous message is also on the right */
        #message-list li:has( .message-right) + li .message-right .message-text {
            border-top-right-radius: 4px;
            margin-top: 1px;
        }

        /* if the message is on the left and the previous message is also on the left */
        #message-list li:has( .message-left) + li .message-left .message-text {
            border-top-left-radius: 4px;
            margin-top: 1px;
        }
        
        /* If the read notice is right below a message or if it is the last message, remove the margin */
        #message-list li:has(+ li#read-notice) .message-text, #message-list li:last-of-type .message-text {
            margin-bottom: 0 !important;
        }

        /* When a discussion is unread, add a small blue border than "moves around" */
        .unread .discussion-title {
            font-weight: bold !important;
        }

        .unread .latest-message {
            font-weight: bold;
            color: var(--bs-dark) !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="h-100 bg-primary-subtle">
        <div class="hstack h-100" id="discussion-layout">
            {% include 'discussion/discussion_list_panel.html' %}
            {% include 'discussion/current_chat_panel.html' %}
        </div>
    </div>

    <script>
        {# TODO: make sure messages dont get lost when switching while a new websocket message is being received #}
        {# TODO: make sure the websocket connection stays open for long periods of time (?) #}
        /* Switching between chats */
        const chatList = $('#chat-list');
        let active_tab = "{{ is_archived_for_current_user|yesno:'archived,active' }}";

        /* WebSocket chat */
        let currentDiscussionId = {{ discussion_id|default_if_none:-1 }};
        websocketManager.add_handler('discussion', 'new_message', handle_new_message);
        websocketManager.add_handler('discussion', 'new_discussion', handle_new_discussion);
        websocketManager.add_handler('discussion', 'read_messages', handle_read_messages);

        function set_active_tab(tab) {
            active_tab = tab;
        }

        function update_read_notice(instant = false) {
            let delay = instant ? 0 : 100;
            let readNotice = $('#read-notice');
            readNotice.slideUp(delay, function () {
                readNotice.appendTo('#message-list').slideDown(delay);
            });
        }
        
        function update_current_discussion() {
            // clear the active class from all discussions
            chatList.find('.active').removeClass('active');

            // add the active class to the current discussion
            $('#discussion-' + currentDiscussionId).addClass('active');
        }

        function handle_new_message(data) {
            updateMostRecent(data['discussion_id'], data['message'], data['is_current_user_sender'], data.is_archived);

            if (data['discussion_id'] !== currentDiscussionId) {
                // if the message is not from the current discussion,
                // add 1 to the unread message badge
                // the function will only add 1 if the message is not from the current user
                // and if the message is not from an archived discussion
                handleNewMessageUpdateBadge(data);  {# defined in base.html #}
                return;
            }

            let messageList = $('#message-list');

            // determine if we should scroll to the bottom after adding the message
            // if the user is currently at no more than 100px from the bottom, scroll to the bottom
            let shouldScroll = messageList[0].scrollHeight - messageList.scrollTop() - messageList.outerHeight() <= 100;

            // if there is a time separator, add it
            messageList.append($(data['separator_html']));

            {# TODO: should we set the datetime using the server time which would be sent in the message? #}
            // Add message to chat history
            let element = $(`<li>${data['html']}</li>`);
            messageList.append(element);

            // if the user was at the bottom, scroll to the bottom
            if (shouldScroll) {
                messageList.scrollTop(messageList[0].scrollHeight);
            }
            
            // If the message comes from the other user, tell the server that we have read the messages
            // we will also directly mark that the sender has seen his own message
            {# TODO: in the future, maybe we would want to only mark the messages as read once they enter the viewport #}
            {# TODO: there is probably some kind of optimization possible here so that we dont send a ws for every message only to read the messages #}
            if (!data['is_current_user_sender']) {
                update_read_notice(true); // make it instant to avoid delayed visual when inserting a new message
                websocketManager.read_messages(currentDiscussionId);
            }
        }

        function handle_new_discussion(data) {
            // ignore if we are in the archived tab (new dicussion are always active)
            if (active_tab === 'archived') {
                return;
            }
            
            let element = $(`<li>${data['html']}</li>`);

            // If the list is empty, change the notice
            if (chatList.length === 1) {
                $('#discussions-notice').text('No more discussions.');
            }

            // Prepend the new chat to the chat list
            element.hide().prependTo(chatList).slideDown();
            
            // Process the element using htmx
            htmx.process(element[0]);
        }

        function handle_read_messages(data) {
            let discussionId = data['discussion_id'];
            let isCurrentUser = data['is_current_user'];
            let relatedDiscussion = $('#discussion-' + discussionId);

            // if it comes from the current user, remove the unread class
            {# This is needed if a user has two windows open on two different conversations #}
            {# Indeed, in this case, if the user view the message in one window, it should mark it as read in the other #}
            if (isCurrentUser) {
                relatedDiscussion.removeClass('unread');
                
                // if we are not in the discussion read, update the badge
                // there is an exception if the read is due to the user first opening the discussion
                if (discussionId !== currentDiscussionId && !data['through_load_discussion']) {
                    handleMessageReadBadge(data);  {# defined in base.html #}
                }
                return;
            }

            // if it comes from the other user and we are in the discussion, update the read notice
            if (discussionId === currentDiscussionId) {
                update_read_notice();
            }
        }

        function updateMostRecent(discussionId, message, is_current_user_sender, is_archived) {
            if (is_archived !== (active_tab === 'archived')) {
                return;
            }
            
            let relatedDiscussion = $('#discussion-' + discussionId);

            // If the discussion is not in the chat list, fetch it
            // Note: no need to then update the latest message as it will come with the discussion
            {# TODO: needs testing #}
            if (!relatedDiscussion.length) {
                $.get('{% url "get_single_discussion" %}', {discussion_id: discussionId}, function (data) {
                    handle_new_discussion({html: data});
                });
                return;
            }

            // else, update the latest message of the existing discussion and move it to the top

            // Update the latest message in the chat list
            // let latestMessageSpan = $(`#latest-message-${discussionId}`); // commented out as this lags the IDE for some reason
            let latestMessageSpan = $('#latest-message-' + discussionId);
            latestMessageSpan.text(message);

            // if its not the current discussion and we arent the sender, add the unread class to the discussion
            if (discussionId !== currentDiscussionId && !is_current_user_sender) {
                relatedDiscussion.addClass('unread');
            }

            // Update the time of the latest message
            let latestMessageTime = $('#latest-message-time-' + discussionId);
            latestMessageTime.timeago('update', new Date());

            // Put the discussion at the top of the list
            let discussion = relatedDiscussion[0];
            chatList.prepend(discussion);
        }

        function setup_chat(element) {
            let form = element.find('#message-form');
            let textarea = form.find('textarea');
            let discussionId = parseInt(form.find('input[name="discussion_id"]').val());
            currentDiscussionId = discussionId;
            update_current_discussion();
            
            // Tell server to indicate that the messages are read
            websocketManager.read_messages(currentDiscussionId, true);

            // form listener
            form.submit(function (event) {
                event.preventDefault();
                let message = textarea.val().trim();

                if (message === '') {
                    return;
                }

                websocketManager.send_chat_message(discussionId, message);

                textarea.val('');
                textarea.prop('rows', 1);

                {# Note: we do not add the message to the chat history here, #}
                {# because we are waiting for the websocket to send it back #}
                {# This serves as a confirmation that the message was sent #}
            });

            // Make the Enter key submit the form
            // Make alt, ctrl, shift + Enter add a new line
            textarea.keypress(function (event) {
                if (event.which === 13 && !event.altKey && !event.ctrlKey && !event.shiftKey) {
                    event.preventDefault();
                    form.submit();
                }
            });

            // Check if field-sizing: content is supported
            if (textarea.css('field-sizing') === 'content') {
                return;
            }

            {# TODO: all of this can be changed by field-sizing: content (in the future) #}
            {# Not the exact same behaviour. A scrollbar may appear when adding a character in the middle of a row #}
            textarea.on('input', function () {
                // Remove rows until the scrollHeight is less than the offsetHeight
                while (textarea[0].offsetHeight > textarea[0].scrollHeight
                && textarea.prop('rows') > 1) {
                    textarea.prop('rows', textarea.prop('rows') - 1);
                }

                // Add rows until the scrollHeight is greater than the offsetHeight
                while (textarea[0].offsetHeight < textarea[0].scrollHeight
                && textarea[0].offsetHeight < 400
                && textarea[0].offsetHeight < 0.3 * window.innerHeight) {
                    textarea.prop('rows', textarea.prop('rows') + 1);
                }

                // try to remove one row (now that the scrollbar isnt there anymore)
                if (textarea.prop('rows') > 1) {
                    textarea.prop('rows', textarea.prop('rows') - 1);
                    if (textarea[0].offsetHeight < textarea[0].scrollHeight) {
                        textarea.prop('rows', textarea.prop('rows') + 1);
                    }
                }

                /*messageInput.css('overflow-y', 'hidden')
                messageInput.css('height', 'auto');
                messageInput.css('height', `min(${messageInput[0].scrollHeight + 2}px, 600px, 50vh)`);
                messageInput.css('overflow-y', 'auto');*/
            });
        }
    </script>
{% endblock %}