<div class="discussion-layout-section flex-shrink-0 px-0 pt-3 h-100 offcanvas-md offcanvas-start d-flex flex-column bg-light"
     id="chat-list-canvas">
    <div class="hstack justify-content-between px-3 mb-3">
        <h1 class="fs-3 mb-0 fw-bold">Discussions</h1>
        <button type="button" class="btn-close text-reset d-md-none d-inline-block"
                data-bs-dismiss="offcanvas"
                data-bs-target="#chat-list-canvas" aria-controls="chat-list-canvas"
                aria-label="Close"></button>
    </div>
    <div id="chat-list-div" class="overflow-y-scroll-custom vstack px-2"
         hx-indicator="#chat-list-spinner">
        <ul class="list-unstyled" id="chat-list"
            hx-get="{% url 'get_discussion_page' %}" hx-trigger="load"
            hx-on::after-swap="$(this).find('time.timeago').timeago(); update_current_discussion();">
        </ul>
        {% include 'common/spinner.html' with id='chat-list-spinner' %}
    </div>
</div>