{% extends 'base.html' %}

{% block head %}
    <style>
        #debate-description {
            white-space: pre-line;
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            margin-bottom: 0;
        }

        .hide-bottom-description {
            -webkit-line-clamp: 20;
            -webkit-mask-image: -webkit-linear-gradient(black 0%, black 90%, transparent 100%);
            mask-image: linear-gradient(black 0%, black 90%, transparent 100%);
        }

        #comment-text {
            transition-duration: 0.2s;
        }

        #comment-text:focus {
            border-bottom-color: var(--bs-dark) !important;
            border-bottom-width: calc(3 * var(--bs-border-width)) !important;
        }

        .comment-div {
            padding-left: 1em;
            border-left: 3px solid var(--bs-primary);
        }

        .btn-vote.selected[data-vote="1"] {
            color: var(--bs-success);
        }

        .btn-vote.selected[data-vote="-1"] {
            color: var(--bs-danger);
        }

        .btn-vote[data-vote="1"]:hover {
            color: var(--bs-success);
            font-weight: bolder;
        }

        .btn-vote[data-vote="-1"]:hover {
            color: var(--bs-danger);
            font-weight: bolder;
        }

        ol > li::marker {
            font-weight: bold;
        }

        .stance {
            opacity: 50%;
        }

        .stance:hover {
            opacity: 100%;
        }

        .stance.active {
            opacity: 100% !important;
        }

        .request-not-allowed {
            opacity: 50%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-xxl py-4">
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <div class="row align-items-center mb-2">
                    <div class="col-auto">
                        <h1>{{ debate.title }}</h1>
                    </div>
                    <div class="col-auto">
                        <div class="row align-items-center gx-2 mb-1" role="group" aria-label="Debate Vote">
                            <div class="col-auto">
                                <button type="button"
                                        class="btn fs-4 p-0{{ debate.user_vote.is_upvote|yesno:" active selected," }} btn-vote border-0"
                                        data-bs-toggle="button"
                                        aria-pressed="{{ debate.user_vote.is_upvote|default:"false" }}"
                                        data-vote="1">
                                    <i class="bi bi-hand-thumbs-up{{ debate.user_vote.is_upvote|yesno:"-fill," }}"></i>
                                </button>
                            </div>
                            <div class="col-auto">
                                <span class="ms-auto fs-4 text-center align-top d-block" style="min-width: 1.5em"
                                      id="debate-score">{{ debate.vote_score }}</span>
                            </div>
                            <div class="col-auto">
                                <button type="button"
                                        class="btn fs-4 p-0{{ debate.user_vote.is_downvote|yesno:" active selected," }} btn-vote border-0"
                                        data-bs-toggle="button"
                                        aria-pressed="{{ debate.user_vote.is_downvote|default:"false" }}"
                                        data-vote="-1">
                                    <i class="bi bi-hand-thumbs-down{{ debate.user_vote.is_downvote|yesno:"-fill," }}"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <p id="debate-description">{{ debate.description }}</p>
                <button class="btn btn-link w-100 text-center text-black" id="show-more-btn"><i
                        class="bi bi-chevron-down"></i> Show More
                </button>
                <div class="my-4 py-4 rounded bg-primary-subtle">
                    <h3 class="w-100 text-center mb-4">Participate in the Debate</h3>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                    data-bs-target="#set-stance-modal">
                                Set Your Stance
                            </button>
                            <div class="modal" id="set-stance-modal" tabindex="-1"
                                 aria-labelledby="set-stance-label"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="set-stance-label">Set Your Stance</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Setting your stance contributes to the debate and allows you to debate
                                                with
                                                others.</p>
                                            <p>If you are unsure about your stance, we recommend you to read the debate
                                                description and the comments to make an informed decision. You can
                                                always
                                                change your stance later if you change your mind.</p>
                                            <hr>
                                            <p>I, <strong>{{ request.user.username }}</strong>, am hereby declaring my
                                                stance as...</p>
                                            <form class="w-100 text-center" action="{% url 'set_stance' debate.slug %}"
                                                  method="post" id="set-stance-form">
                                                {% csrf_token %}
                                                <select class="form-select mx-auto w-auto border-0 fs-1 fw-bolder text-center"
                                                        aria-label="Select your stance"
                                                        name="stance"
                                                        id="stance-select">
                                                    <option class="text-secondary fs-1 fw-bolder"
                                                            value="unset"{% if stance is None %} selected{% endif %}>No
                                                        Stance
                                                    </option>
                                                    <option class="text-success fs-1 fw-bolder"
                                                            value="for"{% if stance == 'for' %} selected{% endif %}>
                                                        For
                                                    </option>
                                                    <option class="text-danger fs-1 fw-bolder"
                                                            value="against"{% if stance == 'against' %}
                                                            selected{% endif %}>
                                                        Against
                                                    </option>
                                                </select>
                                            </form>
                                            {% if has_requested_for or has_requested_against %}
                                                <br>
                                                <p><strong>Warning:</strong> You are currently waiting to debate with
                                                someone{{ has_requested_for|yesno:"for," }}
                                                {% if has_requested_for and has_requested_against %}
                                                    and {% endif %}{{ has_requested_against|yesno:"against," }}.
                                                Changing your stance will cancel
                                                {% if has_requested_for and has_requested_against %}
                                                    these requests{% else %}this request{% endif %}.
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                    id="stance-modal-close">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary" form="set-stance-form"
                                                    value="Submit" id="set-stance-btn">
                                                Set Stance
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                    data-bs-target="#debate-now-modal">
                                Debate Now
                            </button>
                            <div class="modal top" id="debate-now-modal" tabindex="-1"
                                 aria-labelledby="debate-now-label"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="debate-now-label">Debate Now!</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Put your debating skills to the test by debating with someone else
                                                right now!</p>
                                            <ol class="marker-bold">
                                                <li>
                                                    <span class="fw-bold">Take a Stance</span><br>
                                                    <p>
                                                        {% if stance is not None %}
                                                            <i class="bi bi-check-circle-fill text-success"></i> You
                                                            have set your stance to
                                                            <strong>{{ stance }}</strong>.
                                                        {% else %}
                                                            <i class="bi bi-x-circle-fill text-danger"></i> You have not
                                                            set your stance yet.
                                                        {% endif %}
                                                    </p>
                                                </li>
                                                <li>
                                                    <span class="fw-bold">Choose a Stance to Debate With</span><br>
                                                    <p>Do you want to debate with someone who has the same stance as you
                                                        or someone with the opposite stance?</p>
                                                    <form action="{% url 'request_discussion' debate.slug %}"
                                                          method="post"
                                                          id="request-discussion-form">
                                                        {% csrf_token %}
                                                        <p>I want to debate with someone who is...</p>
                                                        <div class="form-check">
                                                            <input type="checkbox" id="stance-wanted-for"
                                                                   name="stance_wanted"
                                                                   class="form-check-input"
                                                                   value="for"
                                                                    {{ has_requested_for|yesno:"checked disabled," }}>
                                                            <label for="stance-wanted-for"
                                                                   class="form-check-label">For{{ has_requested_for|yesno:" (Request Pending)," }}</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input type="checkbox" id="stance-wanted-against"
                                                                   name="stance_wanted"
                                                                   class="form-check-input"
                                                                   value="against"
                                                                    {{ has_requested_against|yesno:"checked disabled," }}>
                                                            <label for="stance-wanted-against" class="form-check-label">Against{{ has_requested_against|yesno:" (Request Pending)," }}</label>
                                                        </div>
                                                    </form>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                    id="debate-now-modal-close">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary" id="debate-now-btn"
                                                    form="request-discussion-form" value="Submit"
                                                    disabled>Start Debating
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                    data-bs-target="#invitation-modal">
                                Invite to Debate
                            </button>
                            <div class="modal top" id="invitation-modal" tabindex="-1"
                                 aria-labelledby="invitation-label"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="invitation-label">Invite to Debate</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Create a link and share it to invite your peers to debate with you.</p>
                                            <p>When someone accepts your invitation, you will be notified and a new
                                                <a href="{% url 'discussion_default' %}">discussion</a> will be created.
                                            </p>
                                            {% if stance is None %}
                                                <p><strong>Warning:</strong> You have not set your stance yet. We
                                                    recommend you to set your stance before inviting others to debate
                                                    with you
                                                    to clearly communicate your position.</p>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <form action="{% url 'create_invite' debate.slug %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-primary"
                                                        value="Submit">Create Invitation
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'debate/components/data.html' %}
                {% include 'debate/components/comments.html' %}
            </div>
            <div class="col-lg-4 col-xl-3">
                {% include 'debate/components/debate_related.html' %}
            </div>
        </div>
    </div>

    <script>
        /****************** STANCES ******************/
        const stanceSelect = $('#stance-select');
        const stanceModalClose = $('#stance-modal-close');
        const currentStance = '{{ stance|default_if_none:"unset" }}';
        {% if not user.is_authenticated %}
            const setStanceBtn = $('#set-stance-btn');

            setStanceBtn.click(function () {
                window.location.href = "{% url 'account_login' %}?next={{ request.get_full_path }}";
            });
        {% endif %}

        function updateSelect() {
            // set the color of the select based on the selected option
            let selectedOption = stanceSelect.find(':selected');
            let selectedClasses = selectedOption.attr('class');
            stanceSelect.removeClass('text-success text-danger text-secondary');
            stanceSelect.addClass(selectedClasses);
        }

        $(document).ready(updateSelect);
        stanceSelect.change(updateSelect);

        // When the user closes the modal, reset the select to the current stance
        stanceModalClose.click(function () {
            stanceSelect.val(currentStance);
            updateSelect();
        });


        /****************** DISCUSSION REQUEST ******************/
        const stanceWantedFor = $('#stance-wanted-for');
        const stanceWantedAgainst = $('#stance-wanted-against');
        const debateNowBtn = $('#debate-now-btn');
        const closeDebateNowModal = $('#debate-now-modal-close');

        function updateStartDebatingBtn() {
            {% if stance is None %}
                return;
            {% else %}
                if ((stanceWantedFor.is(':checked') && !stanceWantedFor.prop('disabled')) ||
                    (stanceWantedAgainst.is(':checked') && !stanceWantedAgainst.prop('disabled'))) {
                    debateNowBtn.prop('disabled', false);
                } else {
                    debateNowBtn.prop('disabled', true);
                }
            {% endif %}
        }

        function uncheckIfEnabled(checkbox) {
            checkbox.prop('checked', checkbox.prop('disabled'));
        }

        stanceWantedFor.change(function () {
            uncheckIfEnabled(stanceWantedAgainst);
            updateStartDebatingBtn();
        });
        stanceWantedAgainst.change(function () {
            uncheckIfEnabled(stanceWantedFor);
            updateStartDebatingBtn();
        });

        closeDebateNowModal.click(function () {
            uncheckIfEnabled(stanceWantedFor);
            uncheckIfEnabled(stanceWantedAgainst);
            updateStartDebatingBtn();
        });

        /****************** VOTING ******************/
        let voteBtns = $('.btn-vote');
        let debateVoteScore = $('#debate-score');
        {# TODO: cleanup, this is a bit unreadable and hacky #}
        // When the user clicks on a vote button
        voteBtns.click(function () {
            {% if not request.user.is_authenticated %}
                window.location.href = "{% url 'account_login' %}?next={{ request.get_full_path }}";
            {% else %}
                let direction = $(this).data('vote');
                let isAlreadySelected = $(this).hasClass('selected');
                let thisButton = $(this);

                // If the button is already active, remove the vote
                if (isAlreadySelected) {
                    direction = 0;
                }

                // Define the data to send to the server
                let data = {
                    direction: direction,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };

                // Add comment_id if it exists
                let comment_id = thisButton.data('comment-id');
                if (comment_id) {
                    data.comment_id = comment_id;
                }

                // Send the vote to the server
                $.post(
                    "{% url 'vote' debate.slug %}",
                    data
                ).done(function (data) {
                    // Determine which score to update
                    let score;
                    if (comment_id) {
                        score = $('#comment-' + comment_id + '-score');
                    } else {
                        score = debateVoteScore;
                    }

                    // Update the score
                    score.text(data.score);

                    // Untoggle the other button if it was toggled and unselect it
                    let otherButton = thisButton.parent().parent().find('.btn').not(thisButton);
                    let otherButtonIcon = otherButton.find('i');
                    {# TODO: wth is this? We need to change the implementation so that its more robust #}
                    if (otherButton.hasClass('selected')) {
                        otherButton.button('toggle');
                        // remove the selected class
                        otherButton.removeClass('selected');
                        // make the icon not filled
                        toggleFilledIcon(otherButtonIcon);


                    }

                    // Make the current button if it was not already selected
                    // Otherwise, remove the selected class
                    let thisButtonIcon = thisButton.find('i');
                    if (isAlreadySelected) {
                        thisButton.removeClass('selected');
                        toggleFilledIcon(thisButtonIcon);
                    } else {
                        thisButton.addClass('selected');
                        toggleFilledIcon(thisButtonIcon);
                    }
                }).fail(function (data) {
                    // Untoggle the button if the vote failed
                    thisButton.button('toggle');

                    alert('An error occurred. Please try again. Details: ' + data.responseText);
                });
            {% endif %}
        });

        function toggleFilledIcon(icon) {
            if (icon.hasClass('bi-hand-thumbs-down')) {
                icon.removeClass('bi-hand-thumbs-down');
                icon.addClass('bi-hand-thumbs-down-fill');
            } else if (icon.hasClass('bi-hand-thumbs-down-fill')) {
                icon.removeClass('bi-hand-thumbs-down-fill');
                icon.addClass('bi-hand-thumbs-down');
            } else if (icon.hasClass('bi-hand-thumbs-up')) {
                icon.removeClass('bi-hand-thumbs-up');
                icon.addClass('bi-hand-thumbs-up-fill');
            } else if (icon.hasClass('bi-hand-thumbs-up-fill')) {
                icon.removeClass('bi-hand-thumbs-up-fill');
                icon.addClass('bi-hand-thumbs-up');
            }
        }

        /****************** Autoresize Textarea ******************/
        const commentTextarea = $('#comment-text');
        const commentForm = $('#comment-form');
        const commentSubmitBtn = $('#comment-form button[type="submit"]');

        {% if not request.user.is_authenticated %}
            commentTextarea.click(function (event) {
                window.location.href = "{% url 'account_login' %}?next={{ request.get_full_path }}";
            });
        {% endif %}

        function autoResizeTextarea() {
            commentTextarea.css('height', 'auto');
            commentTextarea.css('height', commentTextarea[0].scrollHeight + 'px');
        }

        $(document).ready(autoResizeTextarea);
        $(window).on('resize', autoResizeTextarea);
        commentTextarea.on('input', function () {
            // set the size of the textarea to the size of the content
            autoResizeTextarea();

            if (commentTextarea.val().trim() === '') {
                commentSubmitBtn.prop('disabled', true);
                commentSubmitBtn.removeClass('btn-outline-primary');
                commentSubmitBtn.addClass('btn-outline-secondary');
            } else {
                commentSubmitBtn.prop('disabled', false);
                commentSubmitBtn.removeClass('btn-outline-secondary');
                commentSubmitBtn.addClass('btn-outline-primary')
            }
        });
        commentTextarea.on('keydown', function (e) {
            if (e.key === 'Enter' && !e.shiftKey) {
                e.preventDefault();
                if (commentTextarea.val().trim() !== '') {
                    commentForm.submit();
                }
            }
        });

        /****************** Debate Text ******************/
        const debateDescription = $('#debate-description');
        const showMoreBtn = $('#show-more-btn');

        function isDescriptionOverflowing() {
            /* For simplicity, just check if the height of the content is greater than 50vh */
            return debateDescription[0].scrollHeight > 0.5 * window.innerHeight;
        }

        function evaluateShowMoreBtn() {
            if (isDescriptionOverflowing()) {
                debateDescription.addClass('hide-bottom-description');
                showMoreBtn.show();
            } else {
                debateDescription.removeClass('hide-bottom-description');
                showMoreBtn.hide();
            }
        }

        $(document).ready(evaluateShowMoreBtn);
        $(window).on('resize', evaluateShowMoreBtn);

        showMoreBtn.click(function () {
            debateDescription.toggleClass('hide-bottom-description');
            if (debateDescription.hasClass('hide-bottom-description')) {
                showMoreBtn.html('<i class="bi bi-chevron-down"></i> Show More');
            } else {
                showMoreBtn.html('<i class="bi bi-chevron-up"></i> Show Less');
            }
        });

    </script>
{% endblock %}