{% extends 'base.html' %}

{% block content %}
    {% include 'debate/components/search_section.html' %}
    {% for section_name, debates in sections %}
        <section class="bg-light mb-4">
            <div class="container-fluid px-lg-5 px-3">
                <h2>{{ section_name }}</h2>
                <div class="grid-cards gap-4">
                    {% for debate in debates %}
                        {% include 'debate/components/debate_preview.html' with debate=debate stance=debate.user_stance %}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}
    <section class="bg-primary-subtle py-5">
        <div class="container text-center">
            <h2>Whoops! You've reached the end!</h2>
        </div>
    </section>
{% endblock %}