<div hx-indicator="#comments-spinner">
    <h2>Comments</h2>
    {# Display the form no matter if the user is logged in or not #}
    {# but redirect the user to the login page if they click on the form #}
    <form action="{% url 'comment' debate.slug %}" method="post" id="comment-form">
        {% csrf_token %}
        <input type="hidden" name="action" value="add">
        <textarea class="form-control-plaintext border-bottom mb-2 overflow-y-hidden" placeholder="Add a comment..."
                  style="resize: none"
                  name="text" rows="1"
                  id="comment-text"></textarea>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-secondary" disabled>Add Comment</button>
        </div>
    </form>

    <div
            hx-trigger="intersect once"
            hx-get="{% url 'list_comments' debate.slug %}"
            hx-swap="outerHTML"
            hx-target="this"
    ></div>

    {% include 'common/spinner.html' with id='comments-spinner' %}
</div>


