<div class="card">
    <div class="card-body d-flex flex-column">
        <h5 class="col-auto card-title">{{ debate.title }}
            {% if stance is not None %}
                <span class="badge {{ stance|yesno:"bg-success,bg-danger" }} align-bottom">
                    {{ stance|yesno:"For, Against" }}
                </span>
            {% endif %}
        </h5>
        <p class="card-text col ellipsis-text-card-4-lines">{{ debate.description|truncatechars:250 }}</p>
        <a href="{% url 'debate' debate.slug %}"
           class="btn btn-outline-primary stretched-link col-auto mt-2"
           role="button">Select Debate</a>
    </div>
</div>