<!-- File: templates/debate/components/debate_preview_long.html -->
<div class="card">
    <div class="card-body d-flex flex-column">
        <h4 class="col-auto card-title mb-1">{{ debate.title }}
            {% if stance is not None %}
                <span class="badge {{ stance|yesno:"bg-success,bg-danger" }} align-bottom">
                    {{ stance|yesno:"For, Against" }}
                </span>
            {% endif %}
        </h4>
        <div class="hstack gap-5 fst-italic text-muted mb-3">
            <span><strong>Author:</strong> <a class="z-2 position-relative"
                    href="{% url 'account_profile' debate.author.username %}">{{ debate.author.username }}</a></span>
            <span><strong>Created:</strong> {{ debate.date|date:"F j, Y" }}</span>
        </div>
        <p class="card-text col ellipsis-text-card-4-lines">{{ debate.description|truncatechars:1000 }}</p>
        <a href="{% url 'debate' debate.slug %}"
           class="btn btn-outline-primary stretched-link col-auto mt-2"
           role="button">Select Debate</a>
    </div>
</div>