{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="No Description Yet">
    <meta name="keywords" content="No Keywords Yet">
    <meta name="author" content="JustinACoder">
    <title>No Title Yet</title>
    <link rel="stylesheet" href="{% static 'libraries/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <!-- TODO: figure out the bestway to include these libraries (ex: end of body? CDN? etc...) -->
    <script src="{% static 'libraries/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'libraries/bootstrap.bundle.min.js' %}"></script>

    <style>
        :root {
            --bs-font-sans-serif: 'Montserrat', sans-serif;
        }

        section {
            scroll-margin-top: 56px;
        }

        #main-content {
            padding-top: 56px;
        }
    </style>

    {% block head %}
    {% endblock %}
</head>
<body class="bg-light d-flex flex-column h-100">
<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-light flex-shrink-1 fixed-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DebateArena</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <!-- Left Side -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'debate_index' %}">Debates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <!-- Right Side -->
            <div class="ms-auto">
                {% if user.is_authenticated %}
                    <div class="btn-group">
                        <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <div class="row gx-2">
                                <span class="col-auto me-auto align-content-center">{{ user.username }}</span>
                                <div class="col-auto">
                                    {# Note that fs-3 is dynamic. This is why the header height seems to change very slightly #}
                                    {# when we change the size of the window manually. #}
                                    <i class="bi bi-person-circle fs-3"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item"
                               href="{% url 'account_profile' request.user.username %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'discussion_default' %}">My Discussions</a>
                            <a class="dropdown-item" href="{% url 'account_settings' %}">Settings</a>
                            <div class="dropdown-divider"></div>
                            <form action="{% url 'account_logout' %}"
                                  method="post">
                                {% csrf_token %}
                                <button class="dropdown-item" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <a class="btn btn-outline-primary row-cols-a"
                       href="{% url 'account_login' %}?next={{ request.GET.next|default:request.path }}">Login</a>
                    <a class="btn btn-primary"
                       href="{% url 'account_signup' %}?next={{ request.GET.next|default:request.path }}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<!-- Content -->
<div id="main-content" class="bg-light flex-grow-1">
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
{% if not remove_footer %}
    {# Source: https://mdbootstrap.com/docs/standard/navigation/footer/examples-and-customization/ #}
    <footer class="text-center text-lg-start text-white bg-dark">
        <div class="container p-4 pb-0">
            <section>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto my-3">
                        <h6 class="text-uppercase mb-3 font-weight-bold">Debate Arena</h6>
                        <p>
                            DebateArena is a platform where you can challenge your ideas by debating on various topics.
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none"/>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto my-3">
                        <h6 class="text-uppercase mb-3 font-weight-bold">Useful Links</h6>
                        <p>
                            <a href="{% url 'main' %}" class="text-white">Homepage</a>
                        </p>
                        <p>
                            <a href="{% url 'debate_index' %}" class="text-white">Debates</a>
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none"/>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto my-3">
                        <h6 class="text-uppercase mb-3 font-weight-bold">Contact</h6>
                        <p><i class="bi bi-envelope me-3"></i>support@debatearena.com</p>
                    </div>

                    <hr class="w-100 clearfix d-md-none"/>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto my-3">
                        <h6 class="text-uppercase mb-3 font-weight-bold">Follow us</h6>
                        <a class="btn btn-primary btn-floating m-1 bg-dark"
                           href="https://github.com/JustinACoder/" role="button">
                            <i class="bi bi-github fs-5"></i>
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center"><a href="https://storyset.com/people" class="text-white">People illustrations by Storyset</a></div>
        <div class="text-center p-3">© DebateArena 2024</div>
    </footer>
{% endif %}
</body>
</html>