{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>Profile</h1>
    <ul class="nav nav-tabs" id="profile-tab" role="tablist">
        <li class="nav-item">
            <button class="nav-link active" id="viewedit-tab" data-bs-toggle="tab" data-bs-target="#viewedit"
                    type="button" role="tab" aria-controls="viewedit" aria-selected="true">View/Edit
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="stances-tab" data-bs-toggle="tab" data-bs-target="#stances" type="button"
                    role="tab" aria-controls="stances" aria-selected="false">Stances
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="pending-requests-tab" data-bs-toggle="tab" data-bs-target="#pending-requests"
                    type="button" role="tab" aria-controls="pending-requests" aria-selected="false">Pending Discussion
                Requests
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button"
                    role="tab" aria-controls="stats" aria-selected="false">Statistics
            </button>
        </li>
    </ul>
    <div class="tab-content my-2" id="profile-tab-content">
        <div class="tab-pane fade show active" id="viewedit" role="tabpanel" aria-labelledby="viewedit-tab">
            <h2>View/Edit</h2>
            <form method="post" action="#">
                {% csrf_token %}
                {{ user_form|crispy }}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <!-- Small notice in case the user wants to reset their password -->
            <p class="text-muted">If you want to change your password, please <a
                    href="{% url 'account_change_password' %}">click
                here</a></p>
        </div>
        <div class="tab-pane fade" id="stances" role="tabpanel" aria-labelledby="stances-tab">
            <h2>Stances</h2>
            {% if stances %}
                <ul>
                    {% for stance in stances %}
                        <li>You are <strong>{{ stance.stance|yesno:"for,against" }}</strong> in the debate
                            <a href="{% url 'debate' stance.debate.title %}"><strong>{{ stance.debate.title }}</strong></a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have not taken any stances yet</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="pending-requests" role="tabpanel" aria-labelledby="pending-requests-tab">
            <h2>Pending Discussion Requests</h2>
            {% if pending_requests %}
                <ul>
                    {% for request in pending_requests %}
                        <li>You are looking for someone <strong>{{ request.stance_wanted|yesno:"for,against" }}</strong>
                            in
                            the debate <a
                                    href="{% url 'debate' request.debate.title %}"><strong>{{ request.debate.title }}</strong></a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no pending discussion requests</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
            <h2>Statistics</h2>
            <p>Number of Stances: {{ stats.stance_count }}</p>
            <p>Number of Pending Discussion Requests: {{ stats.pending_request_count }}</p>
            <p>Number of Discussions: {{ stats.discussion_count }}</p>
            <p>Number of Messages: {{ stats.message_count }}</p>
            <p>Number of Comments: {{ stats.comment_count }}</p>
        </div>
    </div>
{% endblock %}