{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <section class="bg-secondary-subtle d-flex flex-column justify-content-center align-items-center py-5">
        <div id="icon-placeholder" class="rounded-circle bg-secondary" style="aspect-ratio: 1/1; width: 128px"></div>
        <h1 class="text-center mt-3">{{ profile_user.username }}'s Profile</h1>
        <p class="text-center text-muted mb-0">Joined on {{ profile_user.date_joined|date:"F j, Y" }}</p>
        {% if request.user == profile_user %}
            <a href="{% url 'account_settings' %}" class="btn btn-primary mt-4">Edit Profile</a>
        {% endif %}
    </section>
    <section class="py-3">
        <div class="container-xxl">
            <div class="row">
                <div class="col-lg-8 col-xl-9">
                    <h2>Bio</h2>
                    <p style="white-space: pre">{{ profile_user.profile.bio|default:"<span class='fst-italic'>No bio yet.</span>" }}</p>
                    <h2>Public Invitations</h2>
                    <p>Coming soon...</p>
                </div>
                <div class="col-lg-4 col-xl-3">
                    {% include 'user/components/recent_stances.html' %}
                </div>
            </div>
        </div>
    </section>
    <script>
    
    </script>
{% endblock %}